#about {
    padding: 50px;
    margin: 20px;
    min-width: 200px;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    text-align: center;
}

p b, .typewriter {
    font-size: 1.5em;
    color: #00bfff; /* Цвет текста */
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    width: 2px;
    background-color: #00bfff;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}
