#about {
    padding: 50px;
    margin: 20px;
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    text-align: center;
}

.switchers {
    display: flex;
    justify-content: space-between;
}

h2, p b, .typewriter {
    font-size: 1.5em;
    color: #ffffff; /* Цвет текста */
    text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff, 0 0 60px #00bfff; /* Неоновое свечение */
}

h3 {
    font-size: 1.2em;
    color: #ffffff; /* Цвет текста */
    text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff, 0 0 60px #00bfff; /* Неоновое свечение */
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    width: 2px;
    background-color: #00bfff;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    #about {
        padding: 30px;
        margin: 10px;
        width: calc(100% - 20px);
    }

    h2, p b, .typewriter {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    #about {
        padding: 20px;
        margin: 5px;
        width: calc(100% - 10px);
    }

    h2, p b, .typewriter {
        font-size: 1em;
    }
}
