body.light {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(120deg, #ffeb3b, #ffc107, #ff9800, #ff5722);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* белый цвет текста */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body.light .App {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

body.light h2, body.light p b, body.light .typewriter, body.light h3 {
    font-size: 1.5em;
    color: #ffffff; /* Цвет текста */
    text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081; /* Неоновое свечение */
    animation: pulse-light 1.5s infinite;
}

@keyframes pulse-light {
    0% {
        text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081;
    }
    50% {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081, 0 0 70px #ff4081;
    }
    100% {
        text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081;
    }
}

body.light button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081; /* Неоновое свечение */
    animation: pulse-light 1.5s infinite;
}

body.light button:hover {
    background-color: #ff79b0;
}

body.light .theme-switcher, body.light .language-switcher {
    background-color: rgba(255, 255, 255, 0.7);
    color: #ff4081;
    border: 2px solid #ff4081;
    border-radius: 50px;
    text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 60px #ff4081; /* Неоновое свечение */
    animation: pulse-light 1.5s infinite;
}

body.light .theme-switcher:hover, body.light .language-switcher:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.language-switcher {
    top: 70px; /* Отступ между кнопками */
    right: 20px;
}
