@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', 'Oswald';
    height: 100%;
    position: relative;
}

body.dark {
    background-color: #333;
    color: #fff;
}

body.light {
    background-color: #fff;
    color: #333;
}

.switchers {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#about {
    padding: 20px;
    font-size: 2rem;
    min-width: 600px;
}

#projects {
    padding: 20px 10%;
    font-size: 1.5rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: background-color 0.3s;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-img {
    width: 900px;
    height: auto;
    border: 1px solid #1f1f1f;
}

.project-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset calc(-1 * var(--itemWidth)) calc(-1 * var(--itemWidth)) 0 black,
                inset var(--itemWidth) calc(-1 * var(--itemWidth)) 0 green,
                inset calc(-1 * var(--itemWidth)) var(--itemWidth) 0 blue,
                inset var(--itemWidth) var(--itemWidth) 0 yellow,
                0 0 20px silver;
    transition: box-shadow ease-in-out 0.6s, color ease-in-out 0.5s;
    border-radius: 10px;
    opacity: 0;
}

.project-img:hover::before {
    box-shadow: inset 0 0 0 transparent,
                inset 0 0 0 transparent,
                inset 0 0 0 transparent,
                inset 0 0 0 transparent,
                0 0 20px silver;
    opacity: 1;
}

.btns {
    display: flex;
    gap: 10px;
}

.viewCode {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #1f1f1f;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'Bebas Neue', 'Oswald';
    font-size: 1rem;
}

.viewCode:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.demo {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #1f1f1f;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'Bebas Neue', 'Oswald';
    font-size: 1rem;
}

.demo:hover {
    background-color: #fff;
    color: #1f1f1f;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

::-webkit-scrollbar-thumb:active {
    background: #333;
}
